.OuterHeader {
  background-color: #12544F;
  border: 5px solid #8BBB92;
  border-radius: 12px;
  overflow: hidden;

  color: #2A835F;

  margin: 0 auto;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: stretch;
}

.HeaderButton {
  margin: 0;
  padding: 5px;

  background-color: #12544F;
  color: #2A835F;

  border: 0;
  border-left: 5px solid #8BBB92;

  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
}

.HeaderDropDown {
  margin: 0;
  padding: 5px;

  background-color: #12544F;
  color: #2A835F;

  border: 0;
  border-right: 5px solid #8BBB92;

  display: flex;
  align-items: center;
  justify-content: center;

  justify-self: start;
}
